flask
gtts
openai
requests
google-api-python-client
elevenlabs
python-dotenv
fastapi
uvicorn[standard]
typer
youtube_transcript_api
beautifulsoup4
fastapi
uvicorn[standard]
typer
python-dotenv
PyYAML
pydub
requests
youtube_transcript_api
beautifulsoup4
pymupdf
openai
elevenlabs
edge-tts
google-cloud-texttospeech
langchain
langchain-core
langchain-community
langchain-google-genai
